body{
	background: grey;
}

p {
  	padding-left: 10px;
}

img {
  	height: 200px;
  	width: 200px;
}
.main{
	font-family: Times new roman;
	font-size:20px;
	margin: 0 auto;
	background-color: white;
	padding: 20px 60px 40px;
	height: 850px;
	width: 550px;
}

.photo{
	height: 350px;
	text-align: center;
}

.whyfrontend,
.contacts,
.feedback{
	border-top: 2px solid gray;
}
